														/*Floating css*/
.floating_next_prev_wrap
	{
	position:relative;

			.floating_links
					{
					list-style-type: none;
					position: fixed;
				    top: 50%;
				     right: 0px;
				 	-webkit-transform: translate(0px, -50%);
					  -moz-transform: translate(0px, -50%);
					  -ms-transform: translate(0px, -50%);
					  -o-transform: translate(0px, -50%);
					transform: translate(0px, -50%);	
					margin-bottom:0px; 
					-webkit-box-shadow: -6px 4px 20px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: -6px 4px 20px 0px rgba(0,0,0,0.75);
				box-shadow: -6px 4px 20px 0px rgba(0,0,0,0.75);
				    z-index: 999;
				    	a, .disabled 
				    	{
				    		 border-bottom: 1px solid #000;
							    padding: 10px;
								padding-left: 15px;
							    padding-right: 15px;
							    cursor: pointer;
							    background-color: #fff;	
								   box-shadow: none;
								color: #000;
							    font-size: 14px;
								    display: inline-block;
							    clear: both;
								float:left;
							    width: 100%;
								    text-align: center;  
								 -webkit-transition:all ease-in-out 0.5s;
							    -moz-transition:all ease-in-out 0.5s;
							    -o-transition:all ease-in-out 0.5s;
								transition:all ease-in-out 0.5s;

								.dashicons
								{
								    width: auto;
								    height: auto;
								    font-size: inherit;
								    line-height: inherit;
								        text-decoration: none;
								}

				    	}
				    	a:hover
							{
							background-color:#000;
							 -webkit-transition:all ease-in-out 0.5s;
						    -moz-transition:all ease-in-out 0.5s;
						    -o-transition:all ease-in-out 0.5s;
							transition:all ease-in-out 0.5s;
							border-bottom: 1px solid #fff;
							color: #fff;	
							}	
						a:last-child
							{
							border:none;	
							}			

				   .disabled
							 	{
								color: rgb(235, 235, 228) !important;
							    cursor: default;
							        line-height: inherit;
							    float: left;
							    width: 100%;
								 clear: both;
							    height: auto;
							    position: relative;
	
								} 	
					}	
	}
